numpy==1.21.1
scipy==1.7.0
joblib==1.0.1
newspaper3k==0.2.8
mlxtend==0.18.0
pandas==1.3.1
Flask==2.0.1
gensim==4.0.1
nltk==3.6.2
matplotlib==3.4.2
Flask_Cors==3.0.10
newspaper==0.1.0.7
gunicorn==20.1.0
