<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/templates/style.css" />
    <title>Frontend Bootcamp</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
      <div class="container">
        <a href="#" class="navbar-brand">Hindi Fake News Detector</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="#learn" class="nav-link"> Feature Extraction </a>
            </li>
            <li class="nav-item">
              <a href="#questions" class="nav-link">ML Algorithms</a>
            </li>
            <li class="nav-item">
              <a href="#instructors" class="nav-link">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Newsletter -->
    <section class="bg-primary text-light p-5">
      <div class="container">
          <!-- <form>
            <div class="mb-3">
              <select class="form-select">
                <option selected> Select the Feature Extraction Technique</option>
                <option value="1">Word2Vec</option>
                <option value="2">TF-IDF</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> -->
          <form class="p-3" action="/predict/" method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Jathin Badam">
            </div>
            
            <div class="form-group">
              <label for="seeAnotherField"> Feature Extration</label>
              <select class="form-control" id="seeAnotherField">
                    <option value="no">TF-DF</option>
                    <option value="yes">Word2Vec</option>
              </select>
            </div>
            
            <div class="form-group" id="otherFieldDiv">
              <label for="otherField">Machine Learning Algorithm</label>
              <select class="form-control" id="otherField">
                <option>Cosine-Similarity</option>
                <option>RF</option>
                <option>CNN</option>
                <option>LR</option>
                <option>RNN</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="seeAnotherFieldGroup">Do You Want To Enter Hindi Text?</label>
              <select class="form-control" id="seeAnotherFieldGroup"  name="seeAnotherFieldGroup" >
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
              </select>
            </div>
            
            <div class="form-group" id="otherFieldGroupDiv">
                  <label for="otherField1">Enter the Hindi News Text</label>
                  <input type="text" class="form-control" id="otherField1" name = "otherField1">
            </div>

            <div class="form-group" id="otherFieldGroupDiv2">
                <label for="otherField11">Paste the Link for Hindi News Article</label>
                <input type="text" class="form-control" id="otherField11" name = "otherField11">
          </div>
            
            <div class="form-group">
              <label for="comments">Comments/Questions</label>
              <textarea class="form-control" id="comments" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
        </div>
      </div>
    </section>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="/templates/text.js"></script>
  </body>
  
</html>

